@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom */
html, body, #root { height: 100%; }
body { font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
:root { scroll-behavior: smooth; }
